.page-sized-error 
  justify-content: center
  align-items: center
  text-align: center
  min-height: 100vh
  display: flex
  justify-content: center

.page-sized-error-text
  justify-content: center
  text-align: center
  font-family: 'Staatliches', sans-serif
  font-size: 5vw
  color: rgb(224, 224, 224)
