@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  background-color: rgb(54, 54, 54);
  height: 100%;
}

.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.footer {
  height: 100px;
}

.bold-title {
  margin-top: 20px;
  text-align: left;
  font-family: 'Staatliches', cursive;
  font-size: 5vw;
  color: rgb(224, 224, 224);
  margin-bottom: 5px;
}

.subtitle {
  padding-top: 0;
  text-align: left;
  font-size: 1.2vw;
  color: rgb(187, 187, 187);
}

.section-title {
  margin-top: 1vw;
  font-weight: bold;
  padding-top: 0;
  text-align: left;
  font-size: 1.3vw;
  color: rgb(224, 224, 224);
}

.info-display-text {
  font-size: 0.9vw;
  text-align: left;
  color: rgb(224, 224, 224);
}

.info-pill {
  color: rgb(224, 224, 224);
  background-color: rgb(66, 66, 66);
  margin: auto;
  max-width: 300px;
  min-height: 155px;
  width: 25vw;
  margin-bottom: 20px;
}

.info-pill .card-title {
  font-size: 1vw;
  font-weight: bold;
}

.info-pill .card-text {
  text-align: left;
}

.professional-experience {
  align-content: center;
}

.professional-experience-company {
  font-weight: 700;
  padding-top: 0;
  text-align: left;
  font-size: 1.1vw;
  color: rgb(224, 224, 224);
}

.professional-experience-role {
  font-weight: 600;
  padding-top: 0;
  text-align: left;
  font-size: 1.1vw;
  color: rgb(224, 224, 224);
}

.professional-experience-duration-container {
  font-weight: bold;
  padding-top: 0;
  text-align: left;
  font-size: 0.8vw;
  color: rgb(187, 187, 187);
}

.professional-experience-duration {
  font-weight: 700;
  padding-top: 0;
  text-align: left;
  font-size: 0.7vw;
  color: rgb(187, 187, 187);
}

.professional-experience-description {
  padding-top: 0;
  text-align: left;
  font-size: 1vw;
  color: rgb(187, 187, 187);
}

.professional-experience-duration-container .list-group-item {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.page-sized-error {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.page-sized-error-text{
  justify-content: center;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 5vw;
  color: rgb(224, 224, 224);
}