@media only screen and (max-width: 993px) {
  .App {
    padding: auto;
    margin: auto
  }

  .bold-title, .page-sized-error-text {
    font-size: 10vw;
    text-align: center;
  }
  
  .subtitle { 
    font-size: 4vw;
    text-align: center;
  }
  
  .info-display-text {
    font-size: 3vw; 
    text-align: center;
  }

  .info-pill {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }

  .info-pill .card-title {
    font-size: 4vw;
  }

  .info-pill .card-text {
    font-size: 3vw;
  }

  .professional-experience {
    margin-top: 2vw;  
    align-content: center;
  }
  
  .professional-experience-title {
    font-size: 5.5vw;
  }
  
  .professional-experience-company, .professional-experience-role {
    font-size: 4vw;
  }
  
  .professional-experience-duration {
    margin-top: 0;
    font-size: 3vw;
  }
  
  .professional-experience-description {
    font-size: 3.5vw;
  }
}