@media only screen and (max-width: 577px) {
  .App {
    padding: auto;
    margin: auto
  }

  .bold-title, .page-sized-error-text {
    font-size: 16vw !important;
    text-align: left;
  }
  
  .subtitle {   
    font-size: 6vw !important;
    text-align: left;
  }
  
  .info-display-text {
    font-size: 3vw!important; 
    text-align: center;
  }

  .info-pill {
    width: 90%;
    min-height: 210px;
    margin-bottom: 12px;
  }

  .info-pill .card-title {
    font-size: 6vw !important;
  }

  .info-pill .card-text {
    font-size: 4vw !important;
  }

  .professional-experience {
    margin-top: 2vw;  
    align-content: center;
  }
  
  .professional-experience-title {
    font-size: 6.5vw !important;
  }
  
  .professional-experience-company, .professional-experience-role {
    font-size: 5vw!important;
  }
  
  .professional-experience-duration {
    margin-top: 0;
    font-size: 3.5vw!important;
  }
  
  .professional-experience-description {
    font-size: 4vw !important;
  }
}