@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  background-color: rgb(54, 54, 54);
}

.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.bold-title {
  margin-top: 20px;
  text-align: left;
  font-family: 'Staatliches', cursive;
  font-size: 5vw;
  color: rgb(224, 224, 224);
  margin-bottom: 5px;
}

.subtitle {
  padding-top: 0;
  text-align: left;
  font-size: 1.2vw;
  color: rgb(187, 187, 187);
}

.info-display-text {
  font-size: 1vw;
  text-align: left;
  color: rgb(224, 224, 224);
}

.info-pill {
  color: rgb(224, 224, 224);
  background-color: rgb(66, 66, 66);
  max-width: 300px;
  width: 25vw;
}

.info-pill .card-title {
  font-size: 1vw;
  font-weight: bold;
}

.info-pill .card-text {
  text-align: left;
}