@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  background-color: rgb(51, 51, 51);
}

.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.bold-title {
  margin-top: 20px;
  text-align: left;
  font-family: 'Staatliches', cursive;
  font-size: 5vw;
  color: rgb(224, 224, 224);
  margin-bottom: 5px;
}

.subtitle {
  padding-top: 0;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2vw;
  color: rgb(187, 187, 187);
}

.info-display-text {
  font-size: 1vw;
  text-align: left;
  color: rgb(224, 224, 224);
  font-family: 'Ubuntu', sans-serif;
}

.info-pill {
  color: rgb(224, 224, 224);
  background-color: rgb(80, 80, 80);
  max-width: 300px;
  width: 25vw;
}