@media only screen and (max-width: 993px) {
  .App {
    padding: auto;
    margin: auto
  }

  .bold-title {
    font-size: 10vw;
    text-align: center;
  }
  
  .subtitle { 
    font-size: 4vw;
    text-align: center;
  }
  
  .info-display-text {
    font-size: 3vw; 
    text-align: center;
  }

  .info-pill {
    color: rgb(224, 224, 224);
    background-color: rgb(80, 80, 80);
    max-width: 100%;
    width: 100%;
    margin: auto
  }

  .info-pill .card-title {
    font-size: 4vw;
  }

  .info-pill .card-text {
    font-size: 3vw;
  }
}