@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media only screen and (max-width: 1000px) {
  .App {
    padding: auto;
    margin: auto
  }

  .bold-title {
    font-size: 12vw;
    text-align: center;
  }
  
  .subtitle {
    font-size: 4vw;
    text-align: center;
  }
  
  .info-display-text {
    font-size: 2.7vw; 
    text-align: center;
  }

  .info-pill {
    color: rgb(224, 224, 224);
    background-color: rgb(80, 80, 80);
    max-width: 100%;
    width: 100%;
    margin: auto
  }

  .info-pill .card-title {
    font-size: 3vw;
  }
}